<!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->

<center>
  <img
    src="assets/img/cansozbir.jpeg"
    style="
      text-align: center;
      margin: 10px auto;
      max-width: 200px;
      max-height: 200px;
      border-radius: 50%;
    "
  />
</center>
<!-- <div class="avatar"> -->
<!-- <img src="assets/img/cansozbir.jpeg" alt="Avatar"> -->
<!-- </div> -->

<div class="user-details">
  <p>{{ site.user_description }}</p>
</div>

<div class="user" style="column-gap: 10px">
  <div class="tech">
    <h2>Developing</h2>
    <div class="icons">
      <i class="devicon-python-plain"></i>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-javascript-plain"></i>
    </div>
    <p align="justify">
      I have some experience on almost every field of development. I do develop 
      things for backend and frontend, but also I do have an article about deep 
      learning and I do have some data science background. While I am working with Python, .Net, and JS, 
      I am keen to be a Gopher in future.
    </p>
  </div>
  <div class="tech">
    <h2>Deploying</h2>
    <div class="icons">
      <i class="devicon-azure-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain"></i>
    </div>
    <p align="justify">
      I do have some experience with Azure and I am trying to learn more about topics like 
      DevOps, Deployment pipelines, Serverless and Docker. I do use GNU/Linux distros for 5+ years which makes easier to learn them.
      I am practising those topics on my current company. 
    </p>
  </div>
  <div class="tech">
    <h2>Communicating</h2>
    <div class="icons">
      <i class="icon fas fa-chalkboard-teacher"></i>
      <i class="icon fas fa-pencil-alt"></i>
      <i class="icon fas fa-comments"></i>
    </div>
    <p align="justify">
      I like participating in hackathons, writing professional articles,
      listening to technical podcasts, sharing my knowledge, and discussing
      diverse topics. I am always trying to learn more from people around me. I
      work well in a team but also on my own as I like to set myself goals which
      I will achieve. I do use English regularly. 
    </p>
  </div>
</div>
