<!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{ site.username }}</span>
      <span class="site-description">{{ site.user_title }}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:hey@cansozbir.com"
        ><i class="icon fa fa-envelope"></i
      ></a>
      <a
        aria-label="My LinkedIn"
        target="_blank"
        href="https://www.linkedin.com/in/cansozbir"
        ><i class="icon fab fa-linkedin" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Github"
        target="_blank"
        href="https://github.com/cansozbir"
        ><i class="icon fab fa-github" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My DevTO"
        target="_blank"
        href="https://dev.to/cansozbir"
        ><i class="icon fab fa-dev" aria-hidden="true"></i
      ></a>
      <a aria-label="My YouTube" target="_blank" href="https://www.youtube.com/channel/UCXvs6OypH7iXby6ZbtYDkww/playlists"
        ><i class="icon fab fa-youtube" aria-hidden="true"></i
      ></a>
      <a aria-label="My Kaggle" target="_blank" href="https://kaggle.com/cansozbir"
        ><i class="icon fab fa-kaggle" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Medium"
        target="_blank"
        href="https://medium.com/@cansozbir"
        ><i class="icon fab fa-medium" aria-hidden="true"></i
      ></a>
      <!-- <a
      aria-label="Twitter"
      target="_blank"
      href="https://twitter.com/canszbir"
      ><i class="icon fab fa-twitter" aria-hidden="true"></i
      ></a> -->
      <a aria-label="My Telegram" target="_blank" href="https://t.me/cansozbir"
        ><i class="icon fab fa-telegram" aria-hidden="true"></i
      ></a>
      
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About</a>
      <!-- <a class="link" href="#projects" data-scroll>Projects</a> -->
      <a class="link" href="/assets/Can-Sozbir-Resume.pdf" download
        >Download resume</a
      >
    </div>
  </div>
  <a class="down" href="#about" data-scroll
    ><i class="icon fa fa-chevron-down" aria-hidden="true"></i
  ></a>
</div>
